html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #D16666;
}
    @media screen and (max-width: 600px) {
      .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
   }
}
#form {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    ;
    background-color: #2C4251;
    position: relative;
    top: 20%;
}

.button-text {
    font-weight: 900;
}

.login-text {
    font-size: 2em !important;
}

#name-field {
    margin-bottom: 20px;
}

#email-field {
    margin-bottom: 20px;
}

#textarea1 {
    font-size: 1.5em !important;
}
.thank-you-modal {
    height: 30% !important;
}
.input-field-text {
    font-size: 1.5em !important;
}
.input-field label {
    color: white;
    margin-top: -10px;
}
.input-field input[type=email]:focus + label {
    color: white;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.input-field input[type=email]:focus + label {
    color: white;
}

.input-field input[type=text]:focus + label {
    color: white;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
.input-field textarea:focus + label {
    color: white !important;
}
.input-field textarea:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field .prefix.active {
    color: #000;
}
